<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function()
{
    $(".defaultText").focus(function(srcc)
    {
        if ($(this).val() == $(this)[0].title)
        {
            $(this).removeClass("defaultTextActive");
            $(this).val("");
        }
    });
    
    $(".defaultText").blur(function()
    {
        if ($(this).val() == "")
        {
            $(this).addClass("defaultTextActive");
            $(this).val($(this)[0].title);
        }
    });
    
    $(".defaultText").blur();        
});

</script>

<div id="page-wrap">

 <% if logged_in? %>
        <div id="welcome">Welcome <%= current_user.username %>! Not you?
        <%= link_to "Log out", logout_path %></div>
      <% else %>
        <%= link_to "Sign up", signup_path %> or
        <%= link_to "log in", login_path %>.
      <% end %>
	  
<h1>I Wanna See</h1>

            <div id="control">

			<%= render 'form' %>
			<div id="aviso">
			You can specify the movie's year if needed, i.e.: Scarface (1983)
			</div>


<% if @movies.empty? %>
<h2>Add a movie to get started!</h2>
<% end %>

<% @movies.each do |movie| %>

<ul id="list">
   <li class="colorRed">
         <span>
		 <div id="title"><%= movie.title %></div><div id="year"><%= movie.year %></div>
		 <div id="cuevana"><a href="<%= movie.cuevana %>">Cuevana (Stream)</a></div>
		 <div id="imdb"><a href="<%= movie.link_imdb %>">IMDB</a></div>
		 <%= button_to 'Seen', movie, :class => 'buttonSeen', :method => :delete %>
		 </span>
    </li>
</ul>

<br />

<% end %>

<div id="pagination">
<%= will_paginate @movies, :page_links => false %>
</div>

</div>
</div>