<div id="page-wrap">

 <% if logged_in? %>
        <div id="welcome">Welcome <%= current_user.username %>! Not you?
        <%= link_to "Log out", logout_path %>
		<div id="publiclink">
        [<%= link_to "Your Movies", movies_path %>]
        </div>
		</div>
      <% else %>
        <%= link_to "Sign up", signup_path %> or
        <%= link_to "log in", login_path %>.
      <% end %>

	  
<h1><%= @user.username %>'s List</h1>

            <div id="control">

			
<% if @movies.empty? %>
<h2>No movies to show!</h2>
<% end %>

<ul id="movies">

<% @movies.each do |movie| %>

<% movie_id = "movie_#{movie.id}" %>

<div id= "div_<%= movie.id %>">

   <li id=<%= movie_id %> class="colorRed">
         <span class="handle">	 
		 
		 <div id="title"><%= movie.title %></div>
		 <div id="year"><%= movie.year %></div>
		 <div id="cuevana"><a href="<%= movie.cuevana %>">Cuevana (Stream)</a></div>
		 <div id="imdb"><a href="<%= movie.link_imdb %>">IMDB</a></div>
		 </span>
    </li>

<br />

</div>

<% end %>

</ul>


<div id="pagination">
<%= will_paginate @movies, :page_links => false %>
</div>


</div>
</div>